# ignore the model weights file
/data/
/results/
/weights/yolo11x.pt
/weights/YOLO11s_JDE-CHMOT17-64b-100e_TBHS_m075_1280px.onnx
/weights/YOLO11s_JDE-CHMOT17-64b-100e_TBHS_m075_1280px.onnx.data
/weights/

# Python cache files
__pycache__/
*.py[cod]
*$py.class